.pageLink {
  background-color: transparent;
  padding: var(--spase-xss);
  cursor: pointer;
}

.pageLink:focus {
  color: var(--accentColor);
  background-color: transparent;
  z-index: 3;
}

.pageLink.active {
  z-index: 2;
  color: white;
  background-color: var(--accentColor);
}

.pageLink.disabled {
  color: var(--secondaryColor);
  pointer-events: none;
}

.pageLink.disabled > svg {
  stroke: var(--secondaryColor);
  pointer-events: none;
}
