$accentColor: #518581;
$secondaryColor: #AFADB5;
$primaryColor: #151411;

.page-link {
  background-color: transparent;
  padding: var(--spase-xss);
  cursor: pointer;
}


.page-link:focus {
  color: $accentColor;
  background-color: transparent;
}


.page-link:focus {
  z-index: 3;
}

.page-link.active {
  z-index: 2;
  color: #ffffff;
  background-color: $accentColor;
}

.page-link.disabled {
  color: $secondaryColor;
  pointer-events: none;
}

.page-link.disabled > svg {
  stroke: $secondaryColor;
  pointer-events: none;
}

