$accentColorOpacity: rgba(81, 133, 129, 0.6);
.container {
  margin: 0 100px;
}

.infoContent {
  display: flex;
  flex-direction: column;
  gap: var(--spase-m);
  text-align: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 48px;
}

.infoContentTitle {
  font-size: 44px;
}

.infoDescription {
  max-width: 670px;
}

.githubLink > img {
  height: 40px;
  border-radius: 30px;
}

.githubLink:hover > img {
  transition: 0.2s;
  box-shadow: 0 5px 10px 2px $accentColorOpacity;
}
