$loader-size-s: 24px;
$loader-size-m: 48px;
$loader-size-l: 60px;
.loader {
  max-height: 60px;
  max-width: 60px;
  &.s {
    width: $loader-size-s;
    height: $loader-size-s;
  }

  &.m {
    width: $loader-size-m;
    height: $loader-size-m;
  }

  &.l {
    width: $loader-size-l;
    height: $loader-size-l;
  }

}