.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: var(--spase-l, 32px)
}
.productsTitle {
   line-height: 48px;
}
.divCard {
  flex-basis: 360px;
}