$whiteColor: #ffffff;

.header {
  width: 100%;
  height: 90px;
  display: grid;
  grid-template: "logo tabs buttons";
  grid-template-columns: auto auto auto;
  align-items: center;
  justify-content: space-between;
}

.logo {
  padding-left: 100px;
  grid-area: logo;
}

.logoIcon {
  width: 130px;
  height: 42px;
}
.logoButton:hover {
  opacity: 0.7;
}

.menuIcons {
  width: 24px;
  height: 24px;
}

.tabs {
  grid-area: tabs;
}

.buttons {
  width: 130px;
  grid-area: buttons;
  padding-right: 100px;
  display: flex;
  flex-direction: row;
  gap: var(--spase-xl);
}
.modalCart {
  position: absolute;
  right: 0;
  top: 0;
  background: $whiteColor;
  width: 500px;
  margin-top: 80px;
  margin-right: 50px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.25);
}

@media (max-width: 970px) {
  .buttons {
    padding-right: 10px;
  }
  .logo {
    padding-left: 10px;
  }
  .modalCart {
    width: 300px;
  }
}
.buttons div {
  cursor: pointer;
}
