.header {
  width: 100%;
  height: 90px;
  display: grid;
  grid-template: "logo tabs buttons";
  grid-template-columns: auto auto auto;
  align-items: center;
  justify-content: space-between;

}

.logo {
  padding-left: 100px;
  grid-area: logo;
}

.logoIcon {
  width: 130px;
  height: 42px;
}

.menuIcons {
  width: 24px;
  height: 24px;
}

.tabs {
  grid-area: tabs;
}
.tabsContainer {
  display: flex;
  flex-direction: row;
  gap: var(--spase-xl);
}

.buttons {
  grid-area: buttons;
  padding-right: 100px;
  display: flex;
  flex-direction: row;
  gap: var(--spase-xl);
}
