$text-secondary: #AFADB5;
$text-primary: #000000;
$text-accent: #518581;
$multiDropdown-bg: #FFFFFF;

.dropdown {
  height: 52px;
  display: flex;
  flex-direction: column;
  gap: var(--spase-xxs);
}

.optionsBlock {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.option {
  display: flex;
  padding: var(--spase-s) var(--spase-xs);
  align-items: center;
  align-self: stretch;
  background: $multiDropdown-bg;

}

.itemOption {
  line-height: 20px;
  color: $text-primary;
}

.itemOption:hover {
  color: $text-secondary;
  cursor: pointer;
}

.checkedOption {
  color: $text-accent;
}