
:root {
  --spase-xl: 24px;
  --spase-l: 20px;
  --spase-m: 16px;
  --spase-s: 14px;
  --spase-xs: 12px;
  --spase-xxs: 8px;
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #FFFFFF;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body{
  margin: 0;
  padding: 0;
}
