:root {
  --spase-xxxl: 48px;
  --spase-xxl: 30px;
  --spase-xl: 24px;
  --spase-l: 20px;
  --spase-m: 16px;
  --spase-s: 14px;
  --spase-xs: 12px;
  --spase-xss: 10px;
  --spase-xxs: 8px;
  --primaryColor: #000000;
  --secondaryColor: #afadb5;
  --accentColor: #518581;
  --errorBG: #ff000087;
  --whiteColor: #fff;
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  color: #000000;
}
